<%- include("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<h1>
			Welcome to YelpCamp!
		</h1>
		<p>
			Find the perfect campground for your next journey
		</p>
		<div>
			<a href="/" class="btn btn-primary btn-lg">Home</a>
			<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new Campground!</a>
		</div>
	</header>

	
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<%campgrounds.forEach(function(campground){ %>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="<%= campground.image %>">
					<div class="caption text-center">
						<h4>
							<%= campground.name %>
						</h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-lg btn-primary btn-block" style= "width: 30%; margin: 0 auto">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
	

	
</div>


<%- include("../partials/footer") %>